* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.Experiences h1 {
  margin-left: 2%;
}
.half-width {
  width: 50%;
  padding: 3%;
  margin: 3%;
}
.half-width img {
  width: 90%;
}
.half-width p {
  margin-bottom: 50px;
  text-align: justify;
  font-size: 20px;
}
.hire-me-button {
  text-decoration: none;
  background-color: orange;
  padding: 10px 40px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  font-size: 20px;
  background-image: linear-gradient(orange, tomato);
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.Experiences {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-box {
  width: 80%;
  margin: 5%;
  padding: 3%;
  box-shadow: 10px 10px 30px gray;
  /* border-radius: 5%; */
}
#experience-box-1 {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#experience-box-2 {
  border-left: 10px solid;
  border-image: linear-gradient(Red, salmon);
  border-image-slice: 1;
}
